In [337]:
import itertools as it
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [338]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
293,tt0881891,15000000,40105542,All About Steve,Sandra Bullock|Thomas Haden Church|Bradley Coo...,Phil Traill,A Comedy That Clings,"After one short date, a brilliant crossword co...",99,Comedy,Dune Entertainment|Fox 2000 Pictures|Fortis Fi...,9/4/2009,4.6,2009

In [339]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [340]:
def split_fun(column):
    return pd.Series(column.str.cat(sep='|').split('|'))

answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

directors = split_fun(data['director']).value_counts()
companies = split_fun(data['production_companies']).value_counts()
genres_db = split_fun(data['genres']).value_counts()
casts = split_fun(data['cast']).value_counts()

#the time given in the dataset is in string format.

#months = pd.Series(['Jan ', 'Feb', 'Mar ', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], index=[
                   #'01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])

#So we need to change this in datetime format

data.release_date = pd.to_datetime(data.release_date)

#new columns
data.loc[:, 'profit'] = data['revenue'] - data['budget']
data.loc[:, 'release_month'] = data.release_date.dt.month
data.loc[:, 'len_original_title'] = data['original_title'].map(lambda x: len(x))
data.loc[:, 'len_split_overview'] = data['overview'].map(lambda x: len(x.split()))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [341]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [342]:
data[data.budget == data.budget.max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [343]:
data.sort_values('budget')[['imdb_id', 'original_title', 'budget']].tail(1)

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [344]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [345]:
data[data.runtime == data.runtime.max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [346]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [347]:
data[data.runtime == data.runtime.min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [348]:
answers['4'] = '110'

In [349]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [350]:
answers['5'] = '107'

In [351]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [352]:
answers['6'] = 'Avatar (tt0499549)'

In [353]:
data[data.profit == data.profit.max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [354]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [355]:
data[data.profit == data.profit.min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [356]:
answers['8'] = '1478'

In [357]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [358]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [359]:
data.query('release_year == 2008').sort_values('revenue')[['imdb_id', 'original_title', 'revenue']].tail(1)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [360]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [361]:
data.query('2012 <= release_year <= 2014').sort_values('profit')[['imdb_id', 'original_title', 'profit']].head(1)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 11. Какого жанра фильмов больше всего?

In [362]:
answers['11'] = 'Drama'

In [363]:
split_fun(data.genres).value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [364]:
answers['12'] = 'Drama'

In [365]:
split_fun(data.query('profit > 0')['genres']).value_counts().head(1)

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [366]:
answers['13'] = 'Peter Jackson'

In [367]:
data.groupby('director').revenue.sum().idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [368]:
answers['14'] = 'Robert Rodriguez'

In [369]:
df = data[data['genres'].str.contains('Action')]['director']
split_fun(df).value_counts().head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [370]:
answers['15'] = 'Chris Hemsworth'

In [371]:
data1 = data.query('release_year == 2012')
move_in = split_fun(data1['cast']).value_counts()

for name in move_in.index:
    move_in[name] = data1['revenue'][data1['cast'].str.contains(name)].sum()

move_in.sort_values(ascending=False).head(1)

Chris Hemsworth    2027450773
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [372]:
answers['16'] = 'Matt Damon'

In [373]:
split_fun(data.query('budget > budget.mean()')['cast']).value_counts().head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [374]:
answers['17'] = 'Action'

In [375]:
genres_Cage = data[data['cast'].str.contains('Nicolas Cage')]['genres']
split_fun(genres_Cage).value_counts().head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [376]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [377]:
data[data['production_companies'].str.contains('Paramount Pictures')] \
    .sort_values('profit')[['imdb_id', 'original_title', 'profit']].head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [378]:
answers['19'] = '2015'

In [379]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [380]:
answers['20'] = '2014'

In [381]:
data1 = data[data['production_companies'].str.contains('Warner Bros')]
data1.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [382]:
answers['21'] = '9'

In [383]:
data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False).head(1)

release_month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [384]:
answers['22'] = '450'

In [385]:
data1 = data.query('release_month == ("6", "7", "8")')
data1.groupby('release_month')['imdb_id'].count().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [386]:
answers['23'] = 'Peter Jackson'

In [387]:
data1 = data.query('release_month == ("12", "1", "2")')
data1.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [388]:
answers['24'] = 'Four By Two Productions'

In [389]:
for name in companies.index:
    companies[name] = data['len_original_title'][data['production_companies'].map(
        lambda x: True if name in x else False)].mean()

companies.sort_values(ascending=False).head(1)

Four By Two Productions    83
dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [390]:
answers['25'] = 'Midnight Picture Show'

In [391]:
for name in companies.index:
    companies[name] = data['len_split_overview'][data['production_companies'].map(
        lambda x: True if name in x else False)].mean()

companies.sort_values(ascending=False).head(1)

Midnight Picture Show    175
dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [392]:
# мне мой порядок больше по вкусу
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [393]:
data1 = data['vote_average'].quantile(0.99)
data.query('vote_average > @data1').sort_values(by='vote_average', ascending=False)[['original_title', 'vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [394]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [395]:
data['cast'] = data.cast.str.split('|')
data.cast = data.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))

data.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

ВАРИАНТ 2

# Submission

In [396]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [397]:
# и убедиться что ни чего не пропустил)
len(answers)

27